.site{
  display: grid;
  grid-template-columns: repeat(4, 25% 25% 25% 25%);
  grid-template-rows: repeat(3, 50px 800px 500px);
  grid-gap: 0.5em;
  font-family: Arial;
  font-weight: 300;
}

.flex{
  display: flex;
  align-items: center;
}

.site a {
  text-decoration: none;
  color: #000;
}

.topnav{
  grid-column: 1/5;
  justify-content: center;
}

.warriors{
  grid-column: 2/4;
  grid-row: 2/4;
  padding:5%;

}
/*.beatles{
  grid-column: 3/5;
  grid-row: 2/4;
  padding:5%;
  background: #ddd;
}*/

.latest-news{
  border:1px solid #ddd;
  padding-left: 10px;
  margin:5px;
  box-shadow: 2px 2px 5px #ccc;
}

.latest-news:hover{
  box-shadow: 2px 2px 5px #ddd;
}

.thumbnail{
  justify-content: flex-start;
  max-width: 20%;
  margin-right: 2%;
}

@media screen and (max-width:767px){
  .warriors, .beatles{
    grid-column:1/5;
  }
  .warriors{
    grid-row: 2;
  }
  .beatles{
    grid-row: 3;
  }
}
